.app-layout {
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.main-content {
  width: 100%;
}

@media (max-width: 600px) {
  .app-layout {
    min-height: unset;
  }
}
